html{
	height: 100vh;
}body{
	min-height: 100vh;
	position: relative;
	padding-bottom: 5vh;
}img{
	display: block;
	min-height: 5vh;
}table{
	width: 100%;
	font-family: "Times New Roman";
	font-size: 1vw;
	table-layout: fixed;
}td{
	font-family: "Times New Roman";
	text-align: center !important;
	border: 1px solid black;
	background-color: #EEE;
	padding: 0 !important;
	text-align: left;
	font-size: 1.5vw;
}input{
	text-align: center;
	font-family: "Times New Roman";
	font-size: 1.2vw;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 0 !important;
	font-weight: bold;
}input[type="text"].full{
	width: 100%;
	margin: 0 auto !important;
	font-size: 2vw;
	height: 10vh;
	padding: 0;
	text-align: center;
}input[type="password"]{
	height: 5vh;
	text-align: center;
	font-family: "Times New Roman";
	font-size: 1.2vw;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 0 !important;
	font-weight: bold;
}input[type="password"].full{
	width: 100%;
	margin: 0 auto !important;
	font-size: 2vw;
	height: 10vh;
	padding: 0;
	text-align: center;
}p{
	color: black;
	margin-bottom: 0;
	font-size: 1vw;
}p.modal{
	color: white;
	font-size: 1vw;
	text-align: center;
}.header{
	text-align: center;
	font-size: 1vw;
	text-decoration: underline;
	font-family: "Times New Roman";
	font-size: 1.5vw;
}.success{
	color: red;
	text-align: center;
	font-size: 1.5vw;
	margin-top: 6px;
	margin-bottom: -6px;
}.metal{
	background: url('../img/metal.png');
	border: 4px solid black;
}.banner{
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}.divider{
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	min-height: 5vh;
}.enter{
	margin-top: 1vh;
}.content{
	background: url('../img/metal.png');
}.contentbox{
	background-color: black;
	border: solid 0.25vw;
	height: 67vh;
	overflow-y: scroll;
}.charSelBox{
	background-color: black;
	border: solid 0.25vw;
	height: 50vh;
	overflow-y: scroll;
}.onlinebox{
	background: url('../img/metal.png');
	height: 67vh;
}.userbox{
	background-color: white;
	border: solid 0.25vw black;
	height: 5vh;
}.campaignbox{
	background-color: white;
	border: solid 5px black;
	height: 15vh;
}.box{
	background-color: white;
	border: solid 5px black;
	height: 15vh;
	overflow-y: scroll;
}.hotbox{
	padding-bottom: 2vh;
}.footer{
	background-color: black;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 5vh;
}.navbutton:hover{
	color: white;
	background-color: #2199e8;
}.modButton{
	background-color: orange;
	color: black;
	float: left;
	display: inline-block;
	min-width: 25%;
	min-height: 5vh;
	font-weight: bolder;
}.trainBtn{
	background-color: orange;
	color: black;
	float: left;
	display: inline-block;
	min-width: 20%;
	min-height: 5vh;
	font-weight: bolder;
}.advTrainBtn{
	background-color: red;
	color: black;
	float: left;
	display: inline-block;
	min-width: 20%;
	min-height: 5vh;
	font-weight: bolder;
}.trait{
	text-align: center;
	display: inline-block;
	float: left;
	max-width: 50%;
}.skill{
	text-align: center;
	display: inline-block;
	float: left;
	max-width: 80%;
}.spendexp{
	text-align: center;
	display: inline-block;
	float: left;
	max-width: 60%;
}.playsheet{
	font-size: 0.9vw;
}.charsheet{
	background: url('../img/photocopy.png') no-repeat !important;
	border: 0.2vw solid black;
	font-family: "Times New Roman";
}.header{
	font-weight: bold;
	text-decoration: underline;
}.button{
	width: 100%;
	height: 5vh;
	font-family: "Times New Roman";
	font-weight: bold;
	font-size: 1.75vw;
	background-color: orange;
	color: black;
	border: 0.2vw solid black;
	text-align: center;
	margin: 0 auto !important;
	padding: 0 !important;
}.navbutton{
	width: 100%;
	margin: 0 auto;
	height: 7.5vh;
	font-family: "Times New Roman";
	font-size: 2vw;
	font-weight: bold;
	background-color: orange;
	color: black;
	border: 0.25vw solid black;
	text-align: center;
	padding: 0 !important;
	border-radius: 0.5vw;
}.head{
	color: red;
	font-size: 2vw;
}.full{
	width: 100%;
}.noPad{
	padding: 0;
}.indexList{
	margin-top: -0.25vh;
}.exp{
	width: 100%;
	height: 5vh;
}.skillChoice{
	font-size: 3.5vw;
}.alert{
	font-family: "Times New Roman";
	color: red;
	text-align: center;
	font-size: 3vw;
}
/* MODALS */
#skillChoiceModal{
	display: block;
	position: fixed;
	z-index: 100;
	height: 10vh;
	background-color: black;
	opacity: 0.9;
	padding: 15px;
	color: white;
	font-weight: bold;
}.modal{
	display: none;
	position: fixed;
	z-index: 1;
	width: 80vw;
	height: 60vh;
	overflow: auto;
	background-color: black;
	opacity: 0.9;
	padding: 15px;
	color: white;
	top: 10vh;
	left: 10vw;
}.editModal{
	display: none;
	position: fixed;
	z-index: 1;
	width: 80vw;
	height: 80vh;
	overflow: auto;
	background-color: black;
	opacity: 0.9;
	padding: 15px;
	color: white;
	top: 10vh;
	left: 10vw;
	border: 0.5vw solid lightblue;
}.close{
	background-color: orange;
	text-align: center;
	width: 20vw;
	height: 5vh;
	color: black;
	font-family: "Times New Roman";
	font-weight: bold;
	font-size-adjust: 0.7;
	position: absolute;
	bottom: 0;
	left: 27.5vw;
	margin: 2vh;
}.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}.sheetarea{
	height: 67vh;
	overflow: auto;
	float: left;
	border: double;
	background-color: black;
}.playerlist{
	height: 73vh;
	overflow: auto;
	float: left;
	border: double;
	background-color: black;
}
/* CHATBOX */
#chat-area{   
  border: solid;
  width: 100%;
  height: 50vh;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 801px){
.alert{
	font-family: "Times New Roman";
	color: red;
	text-align: center;
	font-size: 2vw;
}.skillChoice{
	font-size: 1.5vw;
}input[type="text"]{
	width: 100%;
	margin: 0 auto !important;
	font-size: 2vw;
	height: 5vh;
	padding: 0;
	text-align: center;
}.error{
	font-family: "Times New Roman";
	color: red;
	text-align: center;
	font-size: 2.5vw;
}#percentile{
	height: 10vh;
}#rhc{
	height: 10vh;
}#test{
	height: 10vh;
}p{
	font-size: 1.75vw;
}img{
	display: block;
	min-height: 5vh;
}td{
	padding: 0 !important;
	text-align: left;
	font-size: 1.5vw;
	font-weight: bold;
}
}
@media only screen and (max-width: 800px){
.button{
	width: 100%;
	height: 5vh;
	font-family: "Times New Roman";
	font-weight: bold;
	font-size: 1.75vw;
	background-color: orange;
	color: black;
	border: 0.2vw solid black;
	text-align: center;
	margin: 0 auto !important;
	padding: 0 !important;
}.navbutton{
	width: 100%;
	margin: 0 auto;
	height: 7.5vh;
	font-family: "Times New Roman";
	font-size: 2vw;
	font-weight: bold;
	background-color: orange;
	color: black;
	border: 0.25vw solid black;
	text-align: center;
	padding: 0 !important;
	padding-top: 2vh;
	border-radius: 0.5vw;
}input[type="text"]{
	width: 100%;
	margin: 0 auto !important;
	font-size: 2.5vw;
	height: 5vh;
	padding: 0;
	text-align: center;
}input[type="text"].full{
	width: 100%;
	margin: 0 auto !important;
	font-size: 2.5vw;
	height: 10vh;
	padding: 0;
	text-align: center;
}td{
	padding: 0 !important;
	text-align: left;
	font-size: 2vw;
}.head{
	color: red;
	font-size: 2.5vw;
	margin-top: 0.5vh;
}.alert{
	font-family: "Times New Roman";
	color: red;
	text-align: center;
	font-size: 2vw;
}.error{
	font-family: "Times New Roman";
	color: red;
	text-align: center;
	font-size: 2.5vw;
}img{
	display: block;
	min-height: 7.5vh;
}#percentile{
	height: 10vh;
}#rhc{
	height: 10vh;
}#test{
	height: 10vh;
}p{
	font-size: 2vw;
}td{
	padding: 0 !important;
	text-align: left;
	font-size: 1.5vw;
	font-weight: bold;
}
}
@media only screen and (max-width: 600px){
.button{
	width: 100%;
	height: 5vh;
	font-family: "Times New Roman";
	font-weight: bold;
	font-size: 1.75vw;
	background-color: orange;
	color: black;
	border: 0.2vw solid black;
	text-align: center;
	margin: 0 auto !important;
	padding: 0 !important;
}.navbutton{
	width: 100%;
	margin: 0 auto;
	height: 7.5vh;
	font-family: "Times New Roman";
	font-size: 3vw;
	font-weight: bold;
	background-color: orange;
	color: black;
	border: 0.25vw solid black;
	text-align: center;
	padding: 0 !important;
	border-radius: 0.5vw;
}input[type="text"]{
	width: 100%;
	margin: 0 auto !important;
	font-size: 2.5vw;
	height: 5vh;
	padding: 0;
	text-align: center;
}input[type="text"].full{
	width: 100%;
	margin: 0 auto !important;
	font-size: 2.5vw;
	height: 8vh;
	padding: 0;
	text-align: center;
}.header{
	font-size: 2.5vw;
}td{
	padding: 0 !important;
	text-align: left;
	font-size: 2vw;
}.head{
	color: red;
	font-size: 3vw;
	margin-top: 0.75vh;
}.alert{
	font-family: "Times New Roman";
	color: red;
	text-align: center;
	font-size: 2vw;
}.error{
	font-family: "Times New Roman";
	color: red;
	text-align: center;
	font-size: 3vw;
	padding-top: 0.5vh
}img{
	display: block;
	min-height: 6.5vh;
}p{
	font-size: 2vw;
}td{
	padding: 0 !important;
	text-align: left;
	font-size: 1.5vw;
	font-weight: bold;
}
}

@media only screen and (max-width: 500px){
.head{
	color: red;
	font-size: 3.5vw;
	margin-top: 1vh;
}img{
	display: block;
	min-height: 6vh;
}.error{
	font-family: "Times New Roman";
	color: red;
	text-align: center;
	font-size: 3vw;
	padding-top: 0.5vh;
}p{
	font-size: 2.5vw;
}td{
	padding: 0 !important;
	text-align: left;
	font-size: 1.85vw;
	font-weight: bold;
}
}
@media only screen and (max-width: 400px){
.button{
	width: 100%;
	height: 5vh;
	font-family: "Times New Roman";
	font-weight: bold;
	font-size: 1.75vw;
	background-color: orange;
	color: black;
	border: 0.2vw solid black;
	text-align: center;
	margin: 0 auto !important;
	padding: 0 !important;
}.navbutton{
	width: 100%;
	margin: 0 auto;
	height: 7.5vh;
	font-family: "Times New Roman";
	font-size: 3vw;
	font-weight: bold;
	background-color: orange;
	color: black;
	border: 0.25vw solid black;
	text-align: center;
	padding: 0 !important;
	border-radius: 0.5vw;
}input[type="text"]{
	width: 100%;
	margin: 0 auto !important;
	font-size: 2.5vw !important;
	height: 5vh;
	padding: 0;
	text-align: center;
}input[type="text"].full{
	width: 100%;
	margin: 0 auto !important;
	font-size: 2.5vw;
	height: 7vh;
	padding: 0;
	text-align: center;
}.head{
	color: red;
	font-size: 4vw;
	margin-top: 1.25vh;
}.error{
	font-family: "Times New Roman";
	color: red;
	text-align: center;
	font-size: 3.5vw;
	padding-top: 1vh;
}img{
	display: block;
	min-height: 6.5vh;
}#percentile{
	height: 10vh;
}#rhc{
	height: 10vh;
}#test{
	height: 10vh;
}p{
	font-size: 3vw;
}td{
	padding: 0 !important;
	text-align: left;
	font-size: 1.85vw;
	font-weight: bold;
}
}
@media only screen and (max-width: 340px){
.button{
	width: 100%;
	height: 5vh;
	font-family: "Times New Roman";
	font-weight: bold;
	font-size: 1.75vw;
	background-color: orange;
	color: black;
	border: 0.2vw solid black;
	text-align: center;
	margin: 0 auto !important;
	padding: 0 !important;
}.navbutton{
	width: 100%;
	margin: 0 auto;
	height: 7.5vh;
	font-family: "Times New Roman";
	font-size: 2.5vw;
	font-weight: bold;
	background-color: orange;
	color: black;
	border: 0.25vw solid black;
	text-align: center;
	padding: 0 !important;
	border-radius: 0.5vw;
}.indexButton{
	width: 100%;
	height: 5vh;
	font-family: "Times New Roman";
	font-weight: bold;
	font-size: 2vw;
	background-color: orange;
	color: black;
	border: 0.2vw solid black;
	text-align: center;
	margin: 0 auto !important;
	padding: 0 !important;
}input[type="text"]{
	width: 100%;
	margin: 0 auto !important;
	font-size: 2.5vw !important;
	height: 5vh;
	padding: 0;
	text-align: center;
}input[type="text"].indexFull{
	width: 100%;
	margin: 0 auto !important;
	font-size: 2.5vw;
	height: 5vh;
	padding: 0;
	text-align: center;
}td{
	padding: 0 !important;
	text-align: left;
	font-size: 1.85vw;
	font-weight: bold;
}.error{
	font-family: "Times New Roman";
	color: red;
	text-align: center;
	font-size: 3.5vw;
	padding-top: 1.5vh;
}p{
	font-size: 3vw;
}textarea{
	font-size: 3vw;
}img{
	display: block;
	min-height: 6vh;
}
}