html{
	height: 100vh;
	}

body{
	min-height: 100vh;
	position: relative;
	padding-bottom: 5vh;
}

.error{
	color: red;
	text-align: center;
	font-size: 18px;
	margin-top: 6px;
	margin-bottom: -6px;
}

.ceiling{
	background-color: #DDD;
}

.banner{
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	max-height: 15vh;
}

.content{
	background-color: #DDD;
}

.contentbox{
	background-color: white;
	border: solid 5px black;
	height: 67vh;
	overflow-y: scroll;
}

.userbox{
	background-color: white;
	border: solid 5px black;
	height: 5vh;
}

.campaignbox{
	background-color: white;
	border: solid 5px black;
	height: 15vh;
}

.box{
	background-color: white;
	border: solid 5px black;
	height: 15vh;
	overflow-y: scroll;
}

.footer{
	background-color: black;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 5vh;
}

img{
	display: block;
}

.button{
	min-width: 100%;
	margin: 0 auto;
	height: 6.5vh;
	font-family: impact;
	font-size-adjust: 0.7;
	background-color: orange;
	color: black;
}

.incbutton{
	background-color: orange;
	color: black;
	float: left;
	display: inline-block;
	min-width: 10%;
	min-height: 6vh;
}

.decbutton{
	background-color: orange;
	color: black;
	float:left;
	display: inline-block;
	min-width: 10%;
	min-height: 6vh;
}

table{
	width: 100%;

}

td{
	text-align: center;
	border: 1px solid black;
	width: 12.5%;
	background-color: #EEE;
}

input{
	text-align: center;
	display: inline-block;
}

.trait{
	text-align: center;
	display: inline-block;
	float: left;
	max-width: 80%;
}